/AIPlayer.class
/Human.class
/InformationGetter.class
/Playable.class
/Player.class
/PlayerInformation.class
/PlayerTypes$1.class
/PlayerTypes$2.class
/PlayerTypes$3.class
/PlayerTypes.class
/Team06_ULTRON.class
